{{#if focused}}
<div {{action "showComment"}} class="badge">
    <span class="glyphicon glyphicon-comment"></span>
</div>
{{/if}}
<h4 style="list-group-item-heading">
{{#if labels.default}}
    {{labels.default}}
{{else}}
    {{labels.en}}
{{/if}}
</h4>
{{#if showingComment}}
<p class='list-group-item-text'>
{{#if comments.default}}
    {{comments.default}}
{{else}}
    {{comments.en}}
{{/if}}
</p>
{{/if}}
