{{#if focused}}
<div {{action "showComment" bubbles=false}} class="badge">
    <span class="glyphicon glyphicon-comment"></span>
</div>
{{/if}}
<h4 style="list-group-item-heading">
{{#if resource.labels.default}}
    {{resource.labels.default}}
{{else}}
    {{resource.labels.en}}
{{/if}}
</h4>
{{#if showingComment}}
<p class='list-group-item-text'>
    {{#if resource.comments.default}}
        {{resource.comments.default}}
    {{else}}
        {{resource.comments.en}}
    {{/if}}
</p>
{{/if}}
