{{#if view.focused}}
<div {{action "showComment" target=view bubbles=false}} class="comment pull-right">
  <span class="badge">
    <span class="glyphicon glyphicon-comment" title="Description?"></span>
  </span>
</div>
{{/if}}

<h4 class="ember-list-item-view-heading" {{bind-attr title=label}}>{{label}}
  {{#if altLabel}}<span class="badge">{{altLabel}}</span>{{/if}}
</h4>
{{view view.PopoverView viewName='popoverView' data=comment}}
