<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 pull-left">
        {{endpoint/selection-info selection=selectionText select='queryButton'}}
      </div>
      <div class="col-xs-4 text-center">
        {{endpoint/search-bar term=filterTerm type=filterType}}
      </div>
      <div class="col-xs-4 pull-right">
        {{endpoint/sparql-selector endpoint=url select='openSelectModal'}}
      </div>
    </div>
  </div>
</nav>
<div class="row panels">
  <div class="col col-xs-2">
    <!-- Column one start -->
    {{render "endpoint/types"}}
    <!-- Column one end -->
  </div>
  <div class="col col-xs-2">
    <!-- Column two start -->
    {{render "endpoint/things"}}
    <!-- Column two end -->
  </div>
  <div class="col col-xs-8">
    <!-- Column three start -->
    {{render "endpoint/predicates"}}
    <!-- Column three end -->
  </div>
</div>
{{query-menu
  menu=queryMenu
  transitionAction='resourceTransition'}}
